.venv/
__pycache__/
*.pyc
.pytest_cache/
.env
data/raw/**/*.csv
data/processed/*
data/models/**/*
data/embeddings/*
data/cache/*
data/logs/*
!data/processed/.gitkeep
!data/models/sentiment/.gitkeep
!data/models/fake_detection/.gitkeep
!data/models/spam/.gitkeep
!data/models/aspect_mining/.gitkeep
!data/models/user_credibility/.gitkeep
!data/embeddings/.gitkeep
!data/cache/.gitkeep
!data/logs/.gitkeep

